.year {
    display: inline-table;
    float: left;
    margin: 20px;
}

.stage {
    display: inline-table;
    float: left;
    margin: 20px;
}


body{
    background-color: #21a286;
    display: block;
    font-family: 'Sora', sans-serif;

}

h1{
    font-weight: bold;
    font-size: 50px;
    
    
}

h2{
    font-weight: bold;
    font-size: large;
}

h3{
    font-weight: bold;
    font-size: medium;
}

header {
    float: center;
    text-align: center;
    display: block;
}

p {
    text-align: justify;
}

.getfree {
    clear: both;
}

.card{
    display: inline-block;
    max-width: 100px;;
    
}
.card img {
    flex-flow: wrap;
    height: 200px;
    width: 100px;
}